/* =========================================
   DECLARATION PAGE
========================================= */

.declaration-wrapper {
  display: grid;

  grid-template-columns: 1fr 360px;

  gap: 28px;

  align-items: start;

  width: 134%;
}


/* =========================================
   LEFT CARD
========================================= */

.declaration-card {
  background: #ffffff;

  border-radius: 20px;

  padding: 42px;

  border: 1px solid #e8edf5;
}


/* =========================================
   TITLES
========================================= */

.declaration-title {
  font-size: 2rem;

  font-weight: 800;

  color: #003b7a;

  margin-bottom: 10px;
}

.declaration-subtitle {
  font-size: 15px;

  color: #64748b;

  margin-bottom: 18px;
}

.declaration-divider {
  border-color: #e8edf5;

  margin-bottom: 28px;
}


/* =========================================
   LABEL
========================================= */

.declaration-label {
  display: block;

  margin-bottom: 12px;

  font-size: 14px;

  font-weight: 700;

  color: #0f172a;
}


/* =========================================
   DECLARATION BOX
========================================= */

.declare-box {
  display: flex;

  align-items: flex-start;

  gap: 16px;

  border: 1px solid #e2e8f0;

  border-radius: 12px;

  padding: 18px;

  margin-bottom: 14px;

  background: #ffffff;
}

.declare-box input {
  width: 18px;

  height: 18px;

  margin-top: 3px;
}

.declare-box p {
  margin: 0;

  line-height: 1.8;

  font-size: 14px;

  color: #0f172a;
}


/* =========================================
   INPUTS
========================================= */

.declaration-field {
  margin-top: 26px;
}

.declaration-input {
  width: 100%;

  height: 54px;

  border: 1px solid #d9e2ec;

  border-radius: 12px;

  padding: 0 18px;

  font-size: 15px;

  transition: 0.3s ease;
}

.declaration-input:focus {
  outline: none;

  border-color: #0d6efd;

  box-shadow:
    0 0 0 4px rgba(13,110,253,0.08);
}


/* =========================================
   BUTTONS
========================================= */

.declaration-buttons {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-top: 40px;
}

.right-buttons {
  display: flex;

  gap: 14px;
}


/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 1200px) {

  .declaration-wrapper {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 768px) {

  .declaration-buttons {
    flex-direction: column;

    gap: 20px;
  }

  .right-buttons {
    width: 100%;

    flex-direction: column;
  }

}